html,
body {
    background-color: var(--nox-color-surface-default);
    color: var(--nox-color-fg-default);
    font-family: var(--nox-body-base-family);
    font-size: var(--nox-body-base-size);
    line-height: var(--nox-body-base-line-height);
}

:where(.nox-base) {
    h1 {
        font-family: var(--nox-heading-4xl-family);
        font-size: var(--nox-heading-4xl-size);
        font-weight: var(--nox-heading-4xl-weight);
        line-height: var(--nox-heading-4xl-line-height);
    }

    h2 {
        font-family: var(--nox-heading-3xl-family);
        font-size: var(--nox-heading-3xl-size);
        font-weight: var(--nox-heading-3xl-weight);
        line-height: var(--nox-heading-3xl-line-height);
    }

    h3 {
        font-family: var(--nox-heading-2xl-family);
        font-size: var(--nox-heading-2xl-size);
        font-weight: var(--nox-heading-2xl-weight);
        line-height: var(--nox-heading-2xl-line-height);
    }

    h4 {
        font-family: var(--nox-heading-xl-family);
        font-size: var(--nox-heading-xl-size);
        font-weight: var(--nox-heading-xl-weight);
        line-height: var(--nox-heading-xl-line-height);
    }

    h5 {
        font-family: var(--nox-heading-base-family);
        font-size: var(--nox-heading-base-size);
        font-weight: var(--nox-heading-base-weight);
        line-height: var(--nox-heading-base-line-height);
    }

    h6 {
        font-family: var(--nox-heading-sm-family);
        font-size: var(--nox-heading-sm-size);
        font-weight: var(--nox-heading-sm-weight);
        line-height: var(--nox-heading-sm-line-height);
    }

    p,
    span {
        font-family: var(--nox-body-base-family);
        font-size: var(--nox-body-base-size);
        font-weight: var(--nox-body-base-weight);
        line-height: var(--nox-body-base-line-height);
    }

    a {
        color: var(--nox-color-info-default);
        text-decoration: underline;

        &:hover {
            color: var(--nox-color-info-subtle);
        }
    }

    strong,
    b {
        font-weight: var(--nox-font-weight-bold);
    }

    em,
    i {
        font-style: italic;
    }

    small {
        font-size: var(--nox-font-size-sm);
    }

    code {
        font-family: ui-monospace, monospace;
        font-size: var(--nox-font-size-sm);
    }

    hr {
        border: none;
        border-top: var(--nox-border-size-base) solid var(--nox-color-border-default);
    }
}
