:root {
    --nox-color-white: #ffffff;
    --nox-color-black: #000000;
    --nox-color-slate-100: #eff1fa;
    --nox-color-slate-200: #b9c0da;
    --nox-color-slate-300: #98a0c1;
    --nox-color-slate-400: #7981a6;
    --nox-color-slate-500: #5b638a;
    --nox-color-slate-600: #434a6f;
    --nox-color-slate-700: #2a3051;
    --nox-color-slate-800: #161a35;
    --nox-color-slate-900: #0b0e25;
    --nox-color-slate-950: #06050d;
    --nox-color-red-light: #ef6c75;
    --nox-color-red-base: #ec2738;
    --nox-color-red-dark: #bf182e;
    --nox-color-orange-light: #f1ab55;
    --nox-color-orange-base: #e88620;
    --nox-color-orange-dark: #ba6012;
    --nox-color-yellow-light: #f8d562;
    --nox-color-yellow-base: #f5bf29;
    --nox-color-yellow-dark: #d5920b;
    --nox-color-green-light: #45d97b;
    --nox-color-green-base: #1cc354;
    --nox-color-green-dark: #11973e;
    --nox-color-blue-light: #7ec1fb;
    --nox-color-blue-base: #4aa4f8;
    --nox-color-blue-dark: #1779e8;
    --nox-color-teal-light: #58d6e4;
    --nox-color-teal-base: #1cccdc;
    --nox-color-teal-dark: #119cac;
    --nox-color-purple-light: #c69dfb;
    --nox-color-purple-base: #ac6df7;
    --nox-color-purple-dark: #8f47e1;
    --nox-color-pink-light: #fd91d5;
    --nox-color-pink-base: #fc59bd;
    --nox-color-pink-dark: #ed2c9c;
    --nox-space-0: 0px;
    --nox-space-1: 0.25rem;
    --nox-space-2: 0.5rem;
    --nox-space-3: 0.75rem;
    --nox-space-4: 1rem;
    --nox-space-5: 1.25rem;
    --nox-space-6: 1.5rem;
    --nox-space-7: 1.75rem;
    --nox-space-8: 2rem;
    --nox-space-9: 2.25rem;
    --nox-space-10: 2.5rem;
    --nox-space-11: 2.75rem;
    --nox-space-12: 3rem;
    --nox-space-14: 3.5rem;
    --nox-space-16: 4rem;
    --nox-space-20: 5rem;
    --nox-spacing-xs: var(--nox-space-1);
    --nox-spacing-sm: var(--nox-space-2);
    --nox-spacing-md: var(--nox-space-4);
    --nox-spacing-lg: var(--nox-space-6);
    --nox-spacing-xl: var(--nox-space-8);
    --nox-spacing-2xl: var(--nox-space-12);
    --nox-spacing-3xl: var(--nox-space-16);
    --nox-radius-none: 0px;
    --nox-radius-sm: 0.125rem;
    --nox-radius-base: 0.25rem;
    --nox-radius-md: 0.375rem;
    --nox-radius-lg: 0.5rem;
    --nox-radius-xl: 0.75rem;
    --nox-radius-2xl: 1rem;
    --nox-radius-3xl: 1.5rem;
    --nox-radius-full: 9999px;
    --nox-border-0: 0px;
    --nox-border-2: 2px;
    --nox-border-4: 4px;
    --nox-border-8: 8px;
    --nox-border-base: 1px;
    --nox-font-family-sans: 'Inter Variable', ui-sans-serif, system-ui, sans-serif;
    --nox-font-family-special: 'Tiny5', system-ui, sans-serif;
    --nox-font-weight-thin: 100;
    --nox-font-weight-extra-light: 200;
    --nox-font-weight-light: 300;
    --nox-font-weight-normal: 400;
    --nox-font-weight-medium: 500;
    --nox-font-weight-semibold: 600;
    --nox-font-weight-bold: 700;
    --nox-font-weight-extrabold: 800;
    --nox-font-weight-black: 900;
    --nox-font-size-xs: 0.75rem;
    --nox-font-size-sm: 0.875rem;
    --nox-font-size-base: 1rem;
    --nox-font-size-md: 1.125rem;
    --nox-font-size-lg: 1.25rem;
    --nox-font-size-xl: 1.5rem;
    --nox-font-size-2xl: 2rem;
    --nox-font-size-3xl: 2.5rem;
    --nox-font-size-4xl: 3rem;
    --nox-leading-none: 1;
    --nox-leading-tighter: 1.1;
    --nox-leading-tight: 1.25;
    --nox-leading-snug: 1.375;
    --nox-leading-normal: 1.5;
    --nox-leading-relaxed: 1.625;
    --nox-leading-loose: 2;
    --nox-intent-primary-subtle: var(--nox-color-purple-light);
    --nox-intent-primary-default: var(--nox-color-purple-base);
    --nox-intent-primary-emphasis: var(--nox-color-purple-dark);
    --nox-intent-neutral-subtle: var(--nox-color-slate-400);
    --nox-intent-neutral-default: var(--nox-color-slate-500);
    --nox-intent-neutral-emphasis: var(--nox-color-slate-700);
    --nox-intent-info-subtle: var(--nox-color-blue-light);
    --nox-intent-info-default: var(--nox-color-blue-base);
    --nox-intent-info-emphasis: var(--nox-color-blue-dark);
    --nox-intent-success-subtle: var(--nox-color-green-light);
    --nox-intent-success-default: var(--nox-color-green-base);
    --nox-intent-success-emphasis: var(--nox-color-green-dark);
    --nox-intent-warning-subtle: var(--nox-color-yellow-light);
    --nox-intent-warning-default: var(--nox-color-yellow-base);
    --nox-intent-warning-emphasis: var(--nox-color-yellow-dark);
    --nox-intent-danger-subtle: var(--nox-color-red-light);
    --nox-intent-danger-default: var(--nox-color-red-base);
    --nox-intent-danger-emphasis: var(--nox-color-red-dark);
    --nox-intent-ring-primary: var(--nox-color-purple-base);
    --nox-intent-ring-neutral: var(--nox-color-slate-500);
    --nox-intent-ring-info: var(--nox-color-blue-base);
    --nox-intent-ring-success: var(--nox-color-green-base);
    --nox-intent-ring-warning: var(--nox-color-yellow-base);
    --nox-intent-ring-danger: var(--nox-color-red-base);
    --nox-intent-foreground-subtle: var(--nox-color-white);
    --nox-intent-foreground-default: var(--nox-color-white);
    --nox-intent-foreground-emphasis: var(--nox-color-white);
    --nox-typography-body-base-family: var(--nox-font-family-sans);
    --nox-typography-body-base-size: var(--nox-font-size-base);
    --nox-typography-body-base-weight: var(--nox-font-weight-normal);
    --nox-typography-body-base-line-height: var(--nox-leading-normal);
    --nox-typography-body-sm-family: var(--nox-font-family-sans);
    --nox-typography-body-sm-size: var(--nox-font-size-sm);
    --nox-typography-body-sm-weight: var(--nox-font-weight-normal);
    --nox-typography-body-sm-line-height: var(--nox-leading-snug);
    --nox-typography-body-xs-family: var(--nox-font-family-sans);
    --nox-typography-body-xs-size: var(--nox-font-size-xs);
    --nox-typography-body-xs-weight: var(--nox-font-weight-normal);
    --nox-typography-body-xs-line-height: var(--nox-leading-snug);
    --nox-typography-heading-base-family: var(--nox-font-family-special);
    --nox-typography-heading-base-size: var(--nox-font-size-base);
    --nox-typography-heading-base-weight: var(--nox-font-weight-medium);
    --nox-typography-heading-base-line-height: var(--nox-leading-normal);
    --nox-typography-heading-sm-family: var(--nox-font-family-special);
    --nox-typography-heading-sm-size: var(--nox-font-size-sm);
    --nox-typography-heading-sm-weight: var(--nox-font-weight-medium);
    --nox-typography-heading-sm-line-height: var(--nox-leading-normal);
    --nox-typography-heading-xl-family: var(--nox-font-family-special);
    --nox-typography-heading-xl-size: var(--nox-font-size-xl);
    --nox-typography-heading-xl-weight: var(--nox-font-weight-semibold);
    --nox-typography-heading-xl-line-height: var(--nox-leading-tight);
    --nox-typography-heading-2xl-family: var(--nox-font-family-special);
    --nox-typography-heading-2xl-size: var(--nox-font-size-2xl);
    --nox-typography-heading-2xl-weight: var(--nox-font-weight-semibold);
    --nox-typography-heading-2xl-line-height: var(--nox-leading-tight);
    --nox-typography-heading-3xl-family: var(--nox-font-family-special);
    --nox-typography-heading-3xl-size: var(--nox-font-size-3xl);
    --nox-typography-heading-3xl-weight: var(--nox-font-weight-semibold);
    --nox-typography-heading-3xl-line-height: var(--nox-leading-tighter);
    --nox-typography-heading-4xl-family: var(--nox-font-family-special);
    --nox-typography-heading-4xl-size: var(--nox-font-size-4xl);
    --nox-typography-heading-4xl-weight: var(--nox-font-weight-bold);
    --nox-typography-heading-4xl-line-height: var(--nox-leading-none);
    --nox-typography-font-decorative-family: var(--nox-font-family-special);
    --nox-typography-font-decorative-size: var(--nox-font-size-xl);
    --nox-typography-font-decorative-weight: var(--nox-font-weight-normal);
    --nox-typography-font-decorative-line-height: var(--nox-leading-none);
    --nox-icon-size-sm: var(--nox-space-4);
    --nox-icon-size-md: var(--nox-space-5);
    --nox-icon-size-lg: var(--nox-space-6);
    --nox-icon-size-xl: var(--nox-space-8);
    --nox-icon-size-2xl: var(--nox-space-10);
    --nox-surface-default: var(--nox-color-slate-950);
    --nox-surface-hover: var(--nox-color-slate-700);
    --nox-surface-active: var(--nox-color-slate-950);
    --nox-surface-inverse: var(--nox-color-white);
    --nox-surface-focus: var(--nox-color-slate-700);
    --nox-disabled-default: var(--nox-color-slate-700);
    --nox-disabled-foreground-default: var(--nox-color-slate-600);
    --nox-fg-default: var(--nox-color-white);
    --nox-fg-muted: var(--nox-color-slate-500);
    --nox-fg-inverse: var(--nox-color-slate-950);
    --nox-border-default: var(--nox-color-slate-800);
    --nox-border-hover: var(--nox-color-slate-600);
    --nox-border-active: var(--nox-color-slate-600);
    --nox-border-inverse: var(--nox-color-white);
    --nox-border-disabled: var(--nox-color-slate-600);
    --nox-inverse-subtle: var(--nox-color-slate-300);
    --nox-inverse-default: var(--nox-color-white);
    --nox-inverse-emphasis: var(--nox-color-slate-400);
    --nox-inverse-disabled: var(--nox-color-slate-600);
    --nox-inverse-foreground-subtle: var(--nox-color-slate-800);
    --nox-inverse-foreground-default: var(--nox-color-slate-800);
    --nox-inverse-foreground-emphasis: var(--nox-color-slate-800);
}

[data-theme='light'] {
    --nox-surface-default: var(--nox-color-white);
    --nox-surface-hover: var(--nox-color-slate-300);
    --nox-surface-active: var(--nox-color-slate-200);
    --nox-surface-inverse: var(--nox-color-slate-950);
    --nox-surface-focus: var(--nox-color-slate-300);
    --nox-disabled-default: var(--nox-color-slate-100);
    --nox-disabled-foreground-default: var(--nox-color-slate-300);
    --nox-fg-default: var(--nox-color-slate-950);
    --nox-fg-muted: var(--nox-color-slate-600);
    --nox-fg-inverse: var(--nox-color-white);
    --nox-border-default: var(--nox-color-slate-400);
    --nox-border-hover: var(--nox-color-slate-500);
    --nox-border-inverse: var(--nox-color-slate-800);
    --nox-border-disabled: var(--nox-color-slate-400);
    --nox-inverse-subtle: var(--nox-color-slate-800);
    --nox-inverse-default: var(--nox-color-slate-950);
    --nox-inverse-emphasis: var(--nox-color-slate-700);
    --nox-inverse-foreground-subtle: var(--nox-color-white);
    --nox-inverse-foreground-default: var(--nox-color-white);
    --nox-inverse-foreground-emphasis: var(--nox-color-white);
}
